body{
    overflow-x: hidden;
}

*{
    font-size: 16px;
    font-family: 'Londrina Solid', cursive;
}


h1,h2,h3,h4,h5{
    font-family: 'Sigmar One', cursive;
}

.main-section{
    height:145vh;
    position:relative;
    background: linear-gradient(to bottom, #71d5ef, #ffffff 67%);
    overflow:hidden;
}

img#waterfallImg{
    width: 100%;
    bottom: 0;
    top: auto;
    position: absolute;
    z-index: 4;
}

.content-sec{
    padding: 5% 0;
    background: url(img/section-2.png);
    background-position: center;
    position: relative;
    overflow:hidden;
}


.content-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #69c5b0, transparent);
}


.content-sec h2{
    margin-bottom: 24px;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

.content-sec p{
    color: white;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
}

ul{
    color: white;
    padding-left: 20px;
}

li{
    list-style: disc;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #03b2cb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1074b0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .sun{
    z-index: 2;
    height: 220px;
    width: 220px;
    background: radial-gradient(white, white);
    border-radius: 100%;
    box-shadow: 0px 0px 174px 69px #ffd400;
    left: 54%;
    position: absolute;
    top: 1%;
    margin-left: -110px;
    margin-top: 40px;
    mix-blend-mode: screen;
    border: none;
  }

  img#backMountain{
    z-index: 3;
    position: absolute;
    margin-top: -40px;
    width: 100%;
    filter: grayscale(0.7);   
  }

  .cloud1{
    position: absolute;
    bottom: auto;
    width: 20%;
    animation: cloud1 60s linear infinite;
    left: -30%;
    margin-top:20px;
  }


  @keyframes cloud1 {
      0%{
        left: -30%;
      }

      100%{
          left:100%;
      }
  }


  .cloud2{
    position: absolute;
    bottom: auto;
    width: 30%;
    animation: cloud2 60s linear infinite;
    left: -30%;
    animation-delay: 50s;
    margin-top:60px;
  }


  @keyframes cloud2 {
    0%{
      left: -30%;
    }

    100%{
        left:100%;
    }
}




.cloud3{
    position: absolute;
    bottom: auto;
    width: 20%;
    animation: cloud3 60s linear infinite;
    left: -30%;
    animation-delay: 20s;
    margin-top:75px;
  }


  @keyframes cloud3 {
    0%{
      left: -30%;
    }

    100%{
        left:100%;
    }
}


.content-wrapper{
    position: relative;
    overflow:hidden;
    padding-bottom: 22%;
}

.content-wrapper .container{
    z-index:3;
    position:relative;
}

.bubble{
    position: absolute;
    bottom: -10%;
    z-index: 1;
    opacity: 0.3;
    width: 150px;
}

.bubble1{
    width: 80px;
    left: 10%; 
    animation: animateBubble  linear infinite;
    animation-delay: 10s; 
    animation-duration: 10s;   
}

.bubble2{
    width: 60px;
    left: 20%; 
    animation: animateBubble  linear infinite;
    animation-delay: 25s;  
    animation-duration: 5s;   
}

.bubble3{
    width: 30px;
    left: 30%; 
    animation: animateBubble  linear infinite;
    animation-delay: 0s;
    animation-duration: 3s;     
}

.bubble4{
    width: 80px;
    left: 40%; 
    animation: animateBubble  linear infinite;
    animation-delay: 20s; 
    animation-duration: 8s;    
}

.bubble5{
    width: 25px;
    left: 80%; 
    animation: animateBubble  linear infinite;
    animation-delay: 15s;   
    animation-duration: 7s;  
}

.bubble7{
    width: 80px;
    left: 50%; 
    animation: animateBubble  linear infinite;
    animation-delay: 0s;  
    animation-duration: 15s;   
}

.bubble7{
    width: 80px;
    left: 40%; 
    animation: animateBubble  linear infinite;
    animation-delay: 10s; 
    animation-duration: 12s;    
}

.bubble8{
    width: 80px;
    left: 15%; 
    animation: animateBubble  linear infinite;
    animation-delay: 10s; 
    animation-duration: 6s;   
}

.bubble9{
    width: 60px;
    left: 45%; 
    animation: animateBubble  linear infinite;
    animation-delay: 15s;    
    animation-duration: 14s; 
}

.bubble10{
    width: 50px;
    left: 85%; 
    animation: animateBubble  linear infinite;
    animation-delay: 8s; 
    animation-duration: 10s;    
}

.bubble11{
    width: 35px;
    left: 55%; 
    animation: animateBubble  linear infinite;
    animation-delay: 5s;   
    animation-duration: 8s;  
}

.bubble12{
    width: 85px;
    left: 35%; 
    animation: animateBubble  linear infinite;
    animation-delay: 13s;  
    animation-duration: 6s;   
}

.bubble13{
    width: 25px;
    left: 25%; 
    animation: animateBubble  linear infinite;
    animation-delay: 18s; 
    animation-duration: 5s;    
}

@keyframes animateBubble{
    0%{
        bottom:-10%
    }  
   
    100%{
        bottom:150%;
        opacity:0;
    }
}



.fish1{
    position: absolute;
    left: -5%;
    top: 5%;
    z-index: 1;
    width: 50px;
    opacity: 0.5;
    animation:  animateFish1 40s linear infinite;
}


@keyframes animateFish1{
    0%{
        left: -5%;
        top: 5%;
    }  
   
    20%{
        left: 30%;
        top: 8%; 
    }

    
    30%{
        left: 30%;
        top: 8%; 
        transform: rotate(13deg);
    }


    80%{
        left: 80%;
        top: 65%;
        transform: rotate(13deg);
    }


    90%{
        left: 80%;
        top: 65%;
        transform: rotate(0deg); 
    }


    100%{
        left: 110%;
        top: 55%;
        transform: rotate(-13deg);
    }




}