body{
    overflow-x: hidden;
}

*{
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}


.main-section{
    height:145vh;
    position:relative;
    background: linear-gradient(to bottom, #71d5ef, #ffffff 67%);
    overflow:hidden;
}

img#waterfallImg{
    width: 100%;
    bottom: 0;
    top: auto;
    position: absolute;
    z-index: 4;
}

.content-sec{
    padding: 5% 0;
    background: url(img/section-2.png);
    background-position: center;
    position: relative;

}


.content-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #69c5b0, transparent);
}


.content-sec h2{
    margin-bottom: 24px;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

.content-sec p{
    color: white;
    font-size: 18px;
}

ul{
    color: white;
    padding-left: 20px;
}

li{
    list-style: disc;
    margin-bottom: 10px;
    font-size: 18px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #03b2cb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1074b0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .sun{
    z-index: 2;
    height: 220px;
    width: 220px;
    background: radial-gradient(white, white);
    border-radius: 100%;
    box-shadow: 0px 0px 174px 69px #ffd400;
    left: 54%;
    position: absolute;
    top: 1%;
    margin-left: -110px;
    margin-top: 40px;
    mix-blend-mode: screen;
    border: none;
  }

  img#backMountain{
    z-index: 3;
    position: absolute;
    margin-top: -40px;
    width: 100%;
    filter: grayscale(0.7);   
  }

  .cloud1{
    position: absolute;
    bottom: auto;
    width: 20%;
    animation: cloud1 60s linear infinite;
    left: -30%;
    margin-top:20px;
  }


  @keyframes cloud1 {
      0%{
        left: -30%;
      }

      100%{
          left:100%;
      }
  }


  .cloud2{
    position: absolute;
    bottom: auto;
    width: 30%;
    animation: cloud2 60s linear infinite;
    left: -30%;
    animation-delay: 50s;
    margin-top:60px;
  }


  @keyframes cloud2 {
    0%{
      left: -30%;
    }

    100%{
        left:100%;
    }
}




.cloud3{
    position: absolute;
    bottom: auto;
    width: 20%;
    animation: cloud3 60s linear infinite;
    left: -30%;
    animation-delay: 20s;
    margin-top:75px;
  }


  @keyframes cloud3 {
    0%{
      left: -30%;
    }

    100%{
        left:100%;
    }
}
